
/* Importing Geogle Fonts - Roboto Flex */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
/* Sidebar Styling */
.sidebar {
  font-family: Barlow Semi Condensed;
  font-weight: 700;
  font-size: 1.32rem;
  background: #483D3F;
  width: 270px;
  position: fixed;
  margin: 20px;
  border-radius:  16px;
  height: calc(100vh - 40px);
  transition: 0.4s ease;
  z-index: 1001;
  box-shadow: 0 5px 10px #675A51A8;
}
.sidebar.collapsed {
  width: 85px;
}
.sidebar-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.sidebar-header .avatar-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sidebar-header .toggler {
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    border-radius:  8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: #FAF7EF;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler {
  transform: translate(-4px, 65px);
}
.sidebar-header .toggler:hover {
  background-color: #C8BEB5;
}
.sidebar-header .toggler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler span {
  transform: rotate(180deg);
}
.sidebar-nav .nav-list {
  list-style:   none;
  display: flex;
  padding:  0 15px;
  gap: 30px;
  flex-direction:   column;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);

}
.sidebar-nav .nav-link {
  color: #FAF7EF;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  align-items:  center;
  padding: 12px 15px;
  transition: 0.4s ease;
}
.sidebar-nav .nav-link:hover {
  background: #FAF7EF;
  color: #675A51;
}

.sidebar-nav .nav-link .material-symbols-outlined {
  font-size: 1.65rem;
}

.sidebar-nav .nav-link .nav-label {
  transition: opacity 0.4s ease;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  font-family: Barlow Semi Condensed;
  position: absolute;
  font-weight: 500;
  background: #FAF7EF;
  color: #483D3F;
  top: -10px;
  opacity: 0;
  display: none;
  pointer-events: none;
  left: calc(100% + 25px);
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  box-shadow: 0 5px 10px #675A51A8;
  transition: 0s ease;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-label {
  opacity: 0;
  pointer-events: none;
}

/* Sidebar Popup Styling */
.profile-content {
  font-family: Barlow Semi Condensed;
  font-weight: 500;
  color: #483D3F;
  font-size: 1.2rem;
  margin-top: 20px;
}

/* Map Styling */
#main-map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.props-name {
  flex: 1;
  margin-top:   10px;
  font-size: 1rem;
  margin: 0;
  font-family: Alfa Slab One;
  font-weight: bolder;
  letter-spacing: 1.2px;
  color: #483D3F;
}

.props-dilemma {
  font-family: Barlow Semi Condensed;
  font-weight: 500;
  color: #483D3F;
  font-size: 0.95rem;
}

#dilemma-panel {
  display: none;
  position: absolute;
  top: 100px;
  left: 200px;
  right: 80px;
  background: #FAF7EF;
  border-radius: 16px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.12);
  padding: 40px 40px;
  z-index: 2000;
  border: none;
}

.dilemma-speech-pointer {
  position: absolute;
  left: -38px;
  top: 48px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  z-index: 1;
}

.decision-header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.decision-header h2 {
  flex: 1;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: Alfa Slab One;
  font-weight: bolder;
  letter-spacing: 1.2px;
  color: #483D3F;
}

.actionBtn {
  background: #675A51;
  color: #FAF7EF;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #675A51;
  padding: 08px 28px;
  font-size: 1rem;
  margin-top: 03px;
  cursor: pointer;
  font-family: Barlow Semi Condensed;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px
} 

.zoneViewer {
  padding:  20px;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #483D3F;
  font-family: Barlow Semi Condensed;
  display:flex;
  align-items:center;
  gap: 8px;
  justify-content: space-between;
}

.viewBtn {
  background: #675A51;
  color: #FAF7EF;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #675A51;
  padding: 02px 10px;
  font-size: 1rem;
  margin-top: 03px;
  cursor: pointer;
  font-family: Barlow Semi Condensed;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px
}

.close-btn {
  font-size: 2rem;
  background: #675A51;
  border: none;
  color: #FAF7EF;
  border-radius: 5px;
  padding: 3px 10px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.close {
  background: #675A51;
  color: #FAF7EF;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #675A51;
  padding: 08px 32px;
  font-size: 1rem;
  margin-top: 03px;
  cursor: pointer;
  font-family: Barlow Semi Condensed;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px
}

.choices {
  display: flex;
  gap: 50px;
  margin-top: 32px;
  justify-content: center;
}

.choice-card {
  background: #C8BEB5;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #675A51;
  padding: 24px 16px;
  width: 300px;
  text-align: center;
}

.choice-card h3 {
  font-family: Barlow Semi Condensed;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 1.35rem;
  color: #483D3F;
}

.choice-card p {
  font-family: Barlow Semi Condensed;
  font-weight: 400;
  color: #483D3F;
  font-size: 1.22rem;
}

#inner-card {
  font-family: Barlow Semi Condensed;
  font-weight: 800;
  color: #483D3F;
  font-size: 1.22rem;
}

.authorize-btn {
  background: #456492;
  color: #FAF7EF;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #675A51;
  padding: 10px 32px;
  font-size: 1.05rem;
  margin-top: 18px;
  cursor: pointer;
  font-family: Barlow Semi Condensed;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px
} 

.bubble-content .report-title {
  font-family: Alfa Slab One;
  color: #483D3F;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}

.bubble-content .decision-number {
  font-family: Barlow Semi Condensed;
  text-align: center;
  font-weight: 1000;
  font-size: 1.1rem;
  color: #456492
}

.bubble-content .report-stats {
  font-family: Barlow Semi Condensed;  
  font-size: 1.3rem;
  font-weight: 500;
  padding: 20px 0px;
  color: #483D3F;
}

.bubble-content .report-percentage {
  font-family: Barlow Semi Condensed;
  font-size: 1.35rem;
  font-weight: bolder;
  padding: 10px 0px;
  color: #456492
}

.bubble-content .outcome {
  font-family: Barlow Semi Condensed;  
  font-size: 1.3rem;
  font-weight: 500;
  padding: 05px 0px 15px;
  color: #483D3F;
}

.summary-body .summary-text {
    font-family: Barlow Semi Condensed;
  font-weight: 500;
  color: #483D3F;
  font-size: 1.22rem;
}

.nxtDilemmaBtn {
  background: #456492;
  color: #FAF7EF;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #675A51;
  padding: 10px 32px;
  font-size: 1.1rem;
  margin-top: 18px;
  cursor: pointer;
  font-family: Barlow Semi Condensed;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.optionsBtn {
  background: #456492;
  color: #FAF7EF;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #675A51;
  padding: 10px 25px;
  font-size: 1.1rem;
  margin-top: 18px;
  cursor: pointer;
  font-family: Barlow Semi Condensed;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.autoBtn {
  background: #456492;
  color: #FAF7EF;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 8px #675A51;
  padding: 10px 25px;
  font-size: 1.1rem;
  margin-top: 18px;
  cursor: pointer;
  font-family: Barlow Semi Condensed;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

hr {

}